.audio-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;

  svg {
    position: absolute;
    top: calc(30% - 40px);
    left: calc(50% - 40px);
  }
}

.audio-loading[data-dark="true"] {
  background-color: var(--color-bg-900);
  svg {
    fill: var(--color-bg-100);
  }
}
.audio-loading[data-dark="false"] {
  background-color: var(--color-bg-100);
  svg {
    fill: var(--color-bg-900);
  }
}

@media (max-width: 900px) {
  .audio-loading {
    svg {
      top: 20px;
      left: calc(50% - 40px);
    }
  }
}
